* {
  font-family: "Oxygen", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  margin: 0 auto;
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.header {
  font-size: 100px;
}

table {
  margin: 4rem auto;
  border-spacing: 0px 0px;
}

.row {
  display: flex;
  margin: 1%;
  align-items: center;
  justify-content: center;
}

.player {
  margin: 2%;
}

.inactivePlayer {
  opacity: 0.3;
}

.activePlayer {
  opacity: 1;
}

.button:hover {
  background-color: #50c8ff;
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
}

table {
  display: flex;
  margin: 0 auto;
}

.board-container {
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 50px 100px -31px hsl(0deg 0% 72% / 86%);
  background-color: #0763e2;
  margin: 0 auto;
}

.cell {
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 100px;
  box-shadow: inset -1px 6px 7px -6px #5e5e5e;
}

.circles {
  margin: -40px 0 25px 0;
  display: flex;
  justify-content: center;
}

.red-sm {
  background-color: #f83813;
}

.yellow-sm {
  background-color: #fffb00;
}

.message {
  text-align: center;
  font-size: 17px;
}

.white {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: inset -1px 6px 7px -6px #5e5e5e;
}

.red {
  height: 50px;
  width: 50px;
  background-color: #f83813;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.yellow {
  height: 50px;
  width: 50px;
  background-color: #fffb00;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.winorloss {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  margin: 0 auto;
  display: table;
}

.centerDiv {
  display: table-cell;
  vertical-align: middle;
  font-family: "VT323", monospace;
  font-size: 50px;
}

/* Replay button */
